<br />

<div class="Container">
    <div class="jumbotron">
        <p>
            <i class="bi bi-award"></i> <h2>Esta é a area de admin</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home page</a>
</div>